.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #0065b3;
    color: white;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: none;
    /* Remove max-width to allow ul to take full available space */
}

.navbar li {
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbar li:hover {
    background: #555;
}

.logo-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}