.chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.chart-container {
    width: 300px;
    height: 300px;
}

.legend-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Space between box and text */
}

.legend-box {
    width: 40px;
    /* Set a fixed width */
    height: 20px;
    /* Set a fixed height */
    border-radius: 2px;
    /* Optional: Rounded corners */
    display: inline-block;
    flex-shrink: 0;
}