.main-page {
    background: url('/background.png') no-repeat center center fixed;
    background-size: cover;
    /* Ensures full-page coverage */
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-left-section,
.main-right-section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
    padding-bottom: 5%;
}

.ten-dai-hoi {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.user-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.main-right-section {
    text-align: right;
    background-color: transparent;
}

.chart-container {
    display: none;
    /* Hide by default */
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 100%;
    /* Ensure it takes full width */
    height: 100%;
    /* Ensure it takes full height */
}

.chart-container.visible {
    display: flex;
    /* Show and use flexbox for centering */
}